img.normal {height: auto}
h1 {font-size:2em; text-align: center; color: #CD3333; font-family: Times New Roman}
p {text-align: left; color: grey; font-family: Times New Roman}

.gy
  {
  font-family:Times New Roman, Arial;
  width:100%;
  border-collapse:collapse;
  }

.gy td, .gy th 
  {
  font-size:1em;
  border:1px solid #CD3333;
  padding:3px 7px 2px 7px;
  text-align:center;
  }

.gy th 
  {
  font-size:1.1em;
  text-align:center;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#CD3333;
  color:#ffffff;
  }

.gy tr.alt td 
  {
  color:#000000;
  background-color:#CD3333;
  }
